/*These are the styles mf! */

body{
    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

footer {
    color: cyan;
}